.genres__List,
.produsers__list{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.genres__item,
.produsers__item{
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  cursor: pointer;
}
.genres__item:hover,
.produsers__item:hover{
  background-color: lightgray;
}